h1 {
  font-family: cursive;
  text-align: center;
}
p {
  border: 2px solid black;
  margin-bottom: 15px;
}
div {
  font-family: cursive;
}
#div1 {
  background-color: yellow;
  border: 1px solid black;
  font-size: 24px;
}
#div2 {
  background-color: green;
  border: 1px solid black;
  font-size: 24px;
}
#div3 {
  background-color: lightblue;
  border: 1px solid black;
  font-size: 24px;
}

